name: Build and deploy ASP.NET 4.8 app to Azure Web App - HRMS-API

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.3

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.2.0

      - name: Restore packages
        run: nuget restore

      - name: Build and publish
        run: msbuild /p:Configuration=Release /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="output.zip"

      - uses: actions/upload-artifact@v4
        with:
          name: webapp
          path: output.zip

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: webapp

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'HRMS-API'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_DE49F2BF5BF449788D8F2C64F330CC38 }}
          package: webapp/output.zip
