name: Build and deploy ASP.NET 4.8 app to Azure Web App - HRMS-API

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Restore NuGet packages
        run: nuget restore HRMS-API.sln

      - name: Build & Package project
        run: |
          msbuild HRMS-API.sln
            /p:Configuration=Release
            /p:DeployOnBuild=true
            /p:WebPublishMethod=Package

      - name: Prepare publish folder
        run: |
          if (!(Test-Path HRMS-API\publish)) {
            mkdir HRMS-API\publish
          }
          xcopy DarakhsHC-API\obj\Release\Package\PackageTmp\* HRMS-API\publish\ /E /I /Y

      - name: Verify publish folder
        run: dir HRMS-API\publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: webapp
          path: HRMS-API\publish
          if-no-files-found: error

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: webapp

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: HRMS-API
          slot-name: Production
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_DE49F2BF5BF449788D8F2C64F330CC38 }}










